
name: Deploy Angular App to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          cd crud-app-frontend
          npm install

      - name: Build Angular app
        run: |
          cd crud-app-frontend
          npm run build --prod

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "Angular-crud" # Your Azure Web App name
          publish-profile: ${{ secrets.AZURE_ANGULAR_PUBLISH_PROFILE }}
          package: "crud-app-frontend/dist/crud-app-frontend"
